export(contr.deviation)
export(createParamMx)
export(findValidVCovParams)
export(fitanova)
export(fitlmer)
export(fitlmer.mcmc)
export(fitnocorr)
export(fitnocorr.mcmc)
export(fitrsonly)
export(fitstepwise)
export(fitstepwise.bestpath)
export(formVCovMx)
export(genParamRanges)
export(genParamRanges.facMixedAB)
export(getLmer.pValue)
export(getParamRanges)
export(heatmap2)
export(initializeCluster)
export(loessPred)
export(lrCompare)
export(mcRun)
export(mkDf)
export(mkDf.facMixedAB)
export(mkParamMx.facMixedAB)
export(mkSeeds)
export(pconv)
export(psig)
export(randParams)
export(reassembleStepwiseFile)
export(tryFit)
importClassesFrom(lme4,mer)
importFrom(MASS,mvrnorm)
importFrom(Matrix,diag)
importFrom(lme4,VarCorr)
importFrom(lme4,anova)
importFrom(lme4,fixef)
importFrom(lme4,lmer)
importFrom(lme4,vcov)
importFrom(parallel,clusterCall)
importFrom(parallel,clusterExport)
importFrom(parallel,parLapplyLB)
importMethodsFrom(lme4,anova)
importMethodsFrom(lme4,deviance)
importMethodsFrom(lme4,show)
importMethodsFrom(lme4,summary)
